.discourse-docs-sidebar-panel {
  .sidebar-section-link-wrapper {
    .sidebar-section-link-content-text {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: normal;
      text-overflow: unset;
    }
  }
}

.doc-categories-settings {
  .validation-error {
    padding-top: 3px;
    font-size: var(--font-down-1);
    line-height: var(--line-height-large);
    color: var(--danger);
  }
}
